.searchButton {
  appearance: none;
  background: none;
  font-size: 1.5em;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(0, 118, 188);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(0, 118, 188, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.searchButton:hover,
.searchButton:focus {
  border: 2px solid rgba(0, 118, 188, 0.4);
}

.searchButton:active {
  background-color: rgba(0, 118, 188, 0.2);
}
